openapi: 3.0.3
info:
  title: Blend Public Borrowers & Parties Follow-ups API
  description: 'The Blend Public API is the documented REST surface of the Blend Labs digital lending and account-opening platform (developers.blend.com). It lets lenders and certified technology partners programmatically create and manage lending applications across home lending (mortgage), consumer lending, and deposit account opening; manage borrowers/parties, documents and disclosures, pricing, closings and eSignature packages, follow-ups (tasks), lenders and assignments; subscribe to webhook event notifications; and export industry-standard loan files (Fannie Mae 3.2, MISMO 3.3.1/3.4) into a loan origination system (LOS).


    endpointsModeled: The paths, methods, and resource names in this document are modeled from Blend''s public developer documentation and reference at developers.blend.com (llms.txt endpoint index, Quick Start Guide, LOS Guide, and the create/export home-loan guides). Blend does not publish a fully open self-service OpenAPI - the reference is credential-gated and access tokens are issued to Blend customers and certified partners. Request/response schemas below are representative rather than field-complete; obtain the authoritative machine spec at https://developers.blend.com/blend/openapi once you hold API credentials.'
  version: 12.0.0
  contact:
    name: Blend Labs
    url: https://developers.blend.com/blend
  termsOfService: https://blend.com/legal/terms-of-service/
servers:
- url: https://api.blendlabs.com
  description: Production
- url: https://api.beta.blendlabs.com
  description: Beta / integration environment (used in Blend's documentation examples)
security:
- bearerAuth: []
tags:
- name: Follow-ups
  description: Borrower tasks and conditions.
paths:
  /applications/{id}/follow-ups:
    parameters:
    - $ref: '#/components/parameters/ApplicationId'
    get:
      operationId: listFollowUps
      tags:
      - Follow-ups
      summary: List follow-ups
      responses:
        '200':
          description: The follow-ups on the application.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/FollowUp'
    post:
      operationId: createFollowUp
      tags:
      - Follow-ups
      summary: Create a follow-up
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FollowUp'
      responses:
        '201':
          description: The created follow-up.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FollowUp'
  /applications/{id}/follow-ups/{followUpId}:
    parameters:
    - $ref: '#/components/parameters/ApplicationId'
    - name: followUpId
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getFollowUp
      tags:
      - Follow-ups
      summary: Get a follow-up
      responses:
        '200':
          description: The follow-up.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FollowUp'
    patch:
      operationId: patchFollowUp
      tags:
      - Follow-ups
      summary: Update a follow-up
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FollowUp'
      responses:
        '200':
          description: The updated follow-up.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FollowUp'
    delete:
      operationId: removeFollowUp
      tags:
      - Follow-ups
      summary: Remove a follow-up
      responses:
        '204':
          description: Removed.
components:
  parameters:
    ApplicationId:
      name: id
      in: path
      required: true
      schema:
        type: string
      description: The application ID.
  schemas:
    FollowUp:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        status:
          type: string
        dueDate:
          type: string
          format: date
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Blend authenticates requests with an authorization Bearer token. Each call must also send blend-api-version (to pin the API version) and blend-target-instance (tenant~instance) headers. API Secret Keys are exchanged for short-lived, request-scoped JWTs at Blend's API Gateway. Credentials are issued to Blend customers and certified partners - contact your Blend account team or partnerships to obtain them.
