openapi: 3.2.0
info:
  title: Blend Public Closings & eSignature API
  description: The Blend Public API is the documented REST surface of the Blend Labs digital lending and account-opening platform (developers.blend.com).
  version: 12.0.0
  contact:
    name: Blend Labs
    url: https://developers.blend.com/blend
  termsOfService: https://blend.com/legal/terms-of-service/
servers:
- url: https://api.blendlabs.com
  description: Production
- url: https://api.beta.blendlabs.com
  description: Beta / integration environment (used in Blend's documentation examples)
security:
- bearerAuth: []
tags:
- name: Closings & eSignature
  description: Closings, packages, eNotes, and RON sessions.
paths:
  /closings:
    post:
      operationId: createClosing
      tags:
      - Closings & eSignature
      summary: Create a closing
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: The created closing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Closing'
    get:
      operationId: listClosings
      tags:
      - Closings & eSignature
      summary: List closings
      responses:
        '200':
          description: A list of closings.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Closing'
  /closings/{closingId}:
    parameters:
    - $ref: '#/components/parameters/ClosingId'
    get:
      operationId: getClosing
      tags:
      - Closings & eSignature
      summary: Get a closing
      responses:
        '200':
          description: The closing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Closing'
    patch:
      operationId: updateClosing
      tags:
      - Closings & eSignature
      summary: Update a closing
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: The updated closing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Closing'
  /closings/{closingId}/send:
    parameters:
    - $ref: '#/components/parameters/ClosingId'
    post:
      operationId: submitClosing
      tags:
      - Closings & eSignature
      summary: Submit (send) a closing
      responses:
        '202':
          description: Closing submitted for processing.
  /applications/{id}/packages:
    parameters:
    - $ref: '#/components/parameters/ApplicationId'
    get:
      operationId: listPackages
      tags:
      - Closings & eSignature
      summary: List eSignature packages
      responses:
        '200':
          description: The packages for the application.
    post:
      operationId: createPackage
      tags:
      - Closings & eSignature
      summary: Create an eSignature package
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: The created package.
  /applications/{id}/packages/{packageId}/issue:
    parameters:
    - $ref: '#/components/parameters/ApplicationId'
    - name: packageId
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: issuePackage
      tags:
      - Closings & eSignature
      summary: Issue a draft package for signature
      responses:
        '202':
          description: Package issued to recipients.
components:
  schemas:
    Closing:
      type: object
      properties:
        id:
          type: string
        applicationId:
          type: string
        status:
          type: string
  parameters:
    ApplicationId:
      name: id
      in: path
      required: true
      schema:
        type: string
      description: The application ID.
    ClosingId:
      name: closingId
      in: path
      required: true
      schema:
        type: string
      description: The closing ID.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Blend authenticates requests with an authorization Bearer token. Each call must also send blend-api-version (to pin the API version) and blend-target-instance (tenant~instance) headers. API Secret Keys are exchanged for short-lived, request-scoped JWTs at Blend's API Gateway. Credentials are issued to Blend customers and certified partners - contact your Blend account team or partnerships to obtain them.
