openapi: 3.2.0
info:
  title: Blend Public Consumer Lending & Deposit API
  description: The Blend Public API is the documented REST surface of the Blend Labs digital lending and account-opening platform (developers.blend.com).
  version: 12.0.0
  contact:
    name: Blend Labs
    url: https://developers.blend.com/blend
  termsOfService: https://blend.com/legal/terms-of-service/
servers:
- url: https://api.blendlabs.com
  description: Production
- url: https://api.beta.blendlabs.com
  description: Beta / integration environment (used in Blend's documentation examples)
security:
- bearerAuth: []
tags:
- name: Consumer Lending & Deposit
  description: Consumer lending, account opening, and deposit account applications.
paths:
  /consumer-lending/applications/{id}:
    parameters:
    - $ref: '#/components/parameters/ApplicationId'
    get:
      operationId: getConsumerLendingApplication
      tags:
      - Consumer Lending & Deposit
      summary: Get a consumer lending application
      responses:
        '200':
          description: The consumer lending application.
    patch:
      operationId: patchConsumerLendingApplication
      tags:
      - Consumer Lending & Deposit
      summary: Update a consumer lending application
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: The updated consumer lending application.
  /account-opening/applications/{id}:
    parameters:
    - $ref: '#/components/parameters/ApplicationId'
    get:
      operationId: getAccountOpeningApplication
      tags:
      - Consumer Lending & Deposit
      summary: Get an account opening application
      responses:
        '200':
          description: The account opening application.
  /deposit-accounts/applications:
    get:
      operationId: listDepositAccountApplications
      tags:
      - Consumer Lending & Deposit
      summary: List deposit account applications
      responses:
        '200':
          description: A list of deposit account applications.
  /deposit-accounts/products:
    get:
      operationId: listDepositAccountProducts
      tags:
      - Consumer Lending & Deposit
      summary: List deposit account products
      responses:
        '200':
          description: A list of deposit account products.
components:
  parameters:
    ApplicationId:
      name: id
      in: path
      required: true
      schema:
        type: string
      description: The application ID.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Blend authenticates requests with an authorization Bearer token. Each call must also send blend-api-version (to pin the API version) and blend-target-instance (tenant~instance) headers. API Secret Keys are exchanged for short-lived, request-scoped JWTs at Blend's API Gateway. Credentials are issued to Blend customers and certified partners - contact your Blend account team or partnerships to obtain them.
