openapi: 3.2.0
info:
  title: Blend Public Products & Pricing API
  description: The Blend Public API is the documented REST surface of the Blend Labs digital lending and account-opening platform (developers.blend.com).
  version: 12.0.0
  contact:
    name: Blend Labs
    url: https://developers.blend.com/blend
  termsOfService: https://blend.com/legal/terms-of-service/
servers:
- url: https://api.blendlabs.com
  description: Production
- url: https://api.beta.blendlabs.com
  description: Beta / integration environment (used in Blend's documentation examples)
security:
- bearerAuth: []
tags:
- name: Products & Pricing
  description: Apply a priced product to a loan.
paths:
  /applications/{id}/product:
    parameters:
    - $ref: '#/components/parameters/ApplicationId'
    put:
      operationId: putPricedProduct
      tags:
      - Products & Pricing
      summary: Apply a priced product to a loan
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                productId:
                  type: string
                rate:
                  type: number
                term:
                  type: integer
      responses:
        '200':
          description: The product applied to the loan.
components:
  parameters:
    ApplicationId:
      name: id
      in: path
      required: true
      schema:
        type: string
      description: The application ID.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Blend authenticates requests with an authorization Bearer token. Each call must also send blend-api-version (to pin the API version) and blend-target-instance (tenant~instance) headers. API Secret Keys are exchanged for short-lived, request-scoped JWTs at Blend's API Gateway. Credentials are issued to Blend customers and certified partners - contact your Blend account team or partnerships to obtain them.
