openapi: 3.2.0
info:
  title: Blend Public Lenders & Assignments API
  description: The Blend Public API is the documented REST surface of the Blend Labs digital lending and account-opening platform (developers.blend.com).
  version: 12.0.0
  contact:
    name: Blend Labs
    url: https://developers.blend.com/blend
  termsOfService: https://blend.com/legal/terms-of-service/
servers:
- url: https://api.blendlabs.com
  description: Production
- url: https://api.beta.blendlabs.com
  description: Beta / integration environment (used in Blend's documentation examples)
security:
- bearerAuth: []
tags:
- name: Lenders & Assignments
  description: Lender users and application assignments.
paths:
  /lenders:
    get:
      operationId: listLenders
      tags:
      - Lenders & Assignments
      summary: List lenders
      description: Retrieve lender (employee) users available for assignment.
      parameters:
      - name: emails
        in: query
        schema:
          type: string
        description: Comma-separated lender emails to look up.
      responses:
        '200':
          description: A list of lenders.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Lender'
    post:
      operationId: createLenders
      tags:
      - Lenders & Assignments
      summary: Create lenders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: The created lenders.
    patch:
      operationId: updateLenders
      tags:
      - Lenders & Assignments
      summary: Update lenders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: The updated lenders.
    delete:
      operationId: removeLenders
      tags:
      - Lenders & Assignments
      summary: Remove lenders
      responses:
        '204':
          description: Removed.
  /applications/{id}/assignments:
    parameters:
    - $ref: '#/components/parameters/ApplicationId'
    get:
      operationId: listAssignments
      tags:
      - Lenders & Assignments
      summary: List assigned users
      responses:
        '200':
          description: The users assigned to the application.
    put:
      operationId: overrideAssignments
      tags:
      - Lenders & Assignments
      summary: Override assignees
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                assignees:
                  type: array
                  items:
                    type: object
                    properties:
                      userId:
                        type: string
                      role:
                        type: string
                        enum:
                        - PRIMARY_ASSIGNEE
                        - ASSIGNEE
      responses:
        '200':
          description: The updated assignments.
components:
  schemas:
    Lender:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
          format: email
        permittedSolutionSubTypes:
          type: array
          items:
            type: string
        roleNames:
          type: array
          items:
            type: string
  parameters:
    ApplicationId:
      name: id
      in: path
      required: true
      schema:
        type: string
      description: The application ID.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Blend authenticates requests with an authorization Bearer token. Each call must also send blend-api-version (to pin the API version) and blend-target-instance (tenant~instance) headers. API Secret Keys are exchanged for short-lived, request-scoped JWTs at Blend's API Gateway. Credentials are issued to Blend customers and certified partners - contact your Blend account team or partnerships to obtain them.
