openapi: 3.2.0
info:
  title: Blend Public Reporting API
  description: The Blend Public API is the documented REST surface of the Blend Labs digital lending and account-opening platform (developers.blend.com).
  version: 12.0.0
  contact:
    name: Blend Labs
    url: https://developers.blend.com/blend
  termsOfService: https://blend.com/legal/terms-of-service/
servers:
- url: https://api.blendlabs.com
  description: Production
- url: https://api.beta.blendlabs.com
  description: Beta / integration environment (used in Blend's documentation examples)
security:
- bearerAuth: []
tags:
- name: Reporting
  description: Reporting and analytics datasets.
paths:
  /reports/loans:
    get:
      operationId: getLoansReport
      tags:
      - Reporting
      summary: Retrieve basic loan data
      responses:
        '200':
          description: Loan reporting dataset.
  /reports/lenders:
    get:
      operationId: getLendersReport
      tags:
      - Reporting
      summary: Retrieve lender users and metrics
      responses:
        '200':
          description: Lender reporting dataset.
  /reports/borrowers:
    get:
      operationId: getBorrowersReport
      tags:
      - Reporting
      summary: Retrieve borrower users
      responses:
        '200':
          description: Borrower reporting dataset.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Blend authenticates requests with an authorization Bearer token. Each call must also send blend-api-version (to pin the API version) and blend-target-instance (tenant~instance) headers. API Secret Keys are exchanged for short-lived, request-scoped JWTs at Blend's API Gateway. Credentials are issued to Blend customers and certified partners - contact your Blend account team or partnerships to obtain them.
